html, body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    background-color: #222;
    color: #EEE;
}

body {
    margin: 2rem auto;
    padding: 0 1rem;
    max-width: 720px;
}

footer {
    position: absolute;
    bottom: 2rem;
}

a {
    color: #29D;
}

a:visited {
    color: #99D;
}